html, body {
    margin: 0;
    padding: 0;
}

#current-time {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    color: #ffffff;
  }
  
html, body {
    height: 100%;
}

body {
    background-image: url("GZ.jpg");
    background-size: cover;
    background-position: center;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#hero {
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

.cta-button:hover {
    background-color: #000;
    color: #fff;
}

#about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  
  .about-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .about-content h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .about-content p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .about-content .cta-button {
    display: inline-block;
    background-color: white;
    color: #333;
    padding: 15px 30px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.1s ease;
  }
  
  .about-content .cta-button:hover {
    background-color: #white;
  }

#Games {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.Games-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.Games-item {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Games-item img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.Games-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.Games-item p {
    font-size: 16px;
}

#Series {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.Series-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.Series-item {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Series-item img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.Series-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.Series-item p {
    font-size: 16px;
}

#Books {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.Books-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.Books-item {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Books-item img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.Books-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.Books-item p {
    font-size: 16px;
}

#contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.contact-content {
    max-width: 600px;
    margin: 0 auto;
}

.contact-content p {
    font-size: 18px;
    margin-bottom: 10px;
}

.social-media-icons {
    margin-top: 20px;
}

.social-media-icons a {
    margin-right: 10px;
}

footer {
    background-color: #f9f9f9;
    padding: 200px ;
    text-align: center;
    color: #888;
}
